@{
  Layout = "_Layout";
}


<p>@Html.ActionLink("See Students","Index","Students")</p>
<p>@Html.ActionLink("See Courses","Index","Courses")</p>
<p>@Html.ActionLink("See Departments","Index","Departments")</p>