@{
  Layout = "_Layout";
}


@using UniversityRegistrar.Models;

@model List<UniversityRegistrar.Models.Student>;
<p>Total Student Body GPA: @ViewBag.GPA</p>
@foreach (Student student in @Model)
{
  <p>@Html.ActionLink(@student.Name,"Details",new {id = @student.StudentId})</p>
}