@{
  Layout = "_Layout";
}


@using UniversityRegistrar.Models

@foreach (Department department in @Model)
{
  <h3>@Html.ActionLink(department.Name, "Details", new {id = department.DepartmentId})</h3>
}

<p>@Html.ActionLink("Create a new department","Create")</p>